# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: MY
email: yahr.mason@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Applied statistician and data scientist.
  Interested in and Bayesian Modeling and Optimization.
twitter_username: yahrMason
github_username: yahrMason
minimal_mistakes_skin: air
search: true
# google_analytics: G-CQ1TYL4K9J

analytics:
  provider: "google-gtag"
  google:
    tracking_id: "G-CQ1TYL4K9J"
    anonymize_ip: false # default

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-algolia
  - jekyll-remote-theme
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages
  - assets/css

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name     : "Mason Yahr"
  avatar   : "/assets/images/headshot.jpg"
  bio      : "Applied statistician and data scientist. Interested in and Bayesian Modeling and Optimization."
  location : "Milwaukee, WI"
  email    : "yahr.mason@gmail.com"
  twitter  : "yahrMason" 
  github   : "yahrMason"
  linkedin : "mason-yahr-78974098"
  # links:
  #   - label: "Twitter"
  #     icon: "fab fa-fw fa-twitter-square"
  #     url: "https://twitter.com/yahrMason"
  #   - label: "GitHub"
  #     icon: "fab fa-fw fa-github"
  #     url: "https://github.com/yahrMason"
  #   - label: "LinkedIn"
  #     icon: "fab fa-fw fa-linkedin"
  #     url: "https://www.linkedin.com/in/mason-yahr-78974098/"

head_scripts:
  - https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/yahrMason"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/yahrMason"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/mason-yahr-78974098/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

